/*	*
	{
		box-sizing: border-box;
	}*/

	/*鼠标移动到原始图片效果*/
	.org:hover
	{
		-webkit-box-shadow: 0 0 5px 2px #ccc;
		box-shadow: 0 0 5px 2px #ccc;
		cursor: pointer;
	}

	/*动画效果*/
	@-webkit-keyframes mv
	{
		from{-webkit-transform: scale(0.3);transform: scale(0.3);}
		to{-webkit-transform: scale(1);transform: scale(1);}
	}
	@keyframes mv
	{
		from{-webkit-transform: scale(0.3);transform: scale(0.3);}
		to{-webkit-transform: scale(1);transform: scale(1);}
	}

	/*modal框*/
	#mymodal
	{
		display: none;
		width: 600px;
		position: fixed;
		top: 10px;
		-webkit-box-shadow: 0 0 5px 5px #ccc;
		box-shadow: 0 0 5px 5px #ccc;

		/*使用动画*/
		-webkit-animation: mv 2s;
		animation: mv 2s;
	}

	/*图片*/
	#ysn
	{
		height: 400px;
		width: 600px;
	}

	/*关闭*/
	#close
	{
		position: absolute;
		right: 2%;
		top: 2%;
		cursor: pointer;
	}
	#close:hover
	{
		text-shadow: 2px 2px 1px red;
	}

	/*图片下内容*/
	#content
	{
		text-align: center;
		padding: 20px;
		font-size: 24px;
	}