body
{
    background-color: #f2f2f2;
}
/*slide*/
.swipe
{
    position: relative;

    visibility: hidden;
    overflow: hidden;
}
.swipe-wrap
{
    position: relative;

    overflow: hidden;
}
.swipe-wrap > div
{
    position: relative;

    float: left;

    width: 100%;
}

.swipe-wrap > div
{
    position: relative;

    overflow: hidden;

    height: 240px;
}
.swipe-wrap img
{
    width: 100%;
    height: 200px;
}
#slide
{
    position: relative;

    clear: both;

    height: 240px;
    margin: 0 auto;

    -webkit-box-shadow: 0 4px 4px #dddcdc;
            box-shadow: 0 4px 4px #dddcdc;
}
#slide div label
{
    line-height: 40px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 20px;

    color: #000;
    background-color: #fff;
}
#pointer
{
    position: absolute;
    right: 10px;
    bottom: 12px;

    overflow: hidden;
}
#pointer li
{
    float: left;

    list-style: none;
}
#pointer li a
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 4px;

    border: 1px solid #55abce;
    border-radius: 6px;
}
#pointer li a.active
{
    background-color: #55abce;
}


#activity
{
    background-color: #f2f2f2;
}

#activity h2
{
    font-size: 16px;

    padding-bottom: .8em;
    padding-left: 1em;
}
#activity .item
{
    padding-top: 20px;
}
#activity .pic
{
    overflow: hidden;

    width: 92%;
    min-width: 320px;
    height: 160px;
    margin: 0 auto 20px;

    text-align: center;

    -webkit-border-radius: 6px;
            border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
            background-size: cover;
}

#activity p
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 1em;
    padding-top: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #999;
}
#activity .item
{
    margin-bottom: 20px;

    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px #dddcdc;
            box-shadow: 0 4px 4px #dddcdc;
}
#activity .item a
{
    display: block;
}
