html,body{height: 100%}
body{
    background-color: #f2f2f2; font-size: 14px;
}
#header{

    text-align: center; color: black;
    width: 100%; position: relative;
}
#header .back-icon{
    display: inline-block; width: 40px; height: 40px;
    background: url(../image/arr-l.png) no-repeat center center; 
    -webkit-background-size: 14px 18px;
    background-size: 14px 18px;
    position: absolute; left: 0; 
}
 #header .activity .submenu li{
    height: 40px; line-height: 40px;
}
#header .activity .submenu li:last-child a{
    background: none;
}
#header .activity .submenu a i{
    display: inline-block; width: 16px; height: 16px;
    -webkit-background-size: contain !important; 
    background-size: contain !important; 
    margin-right: .5em; vertical-align: text-bottom;

}
#header .activity .submenu .city i{
    background: url(../image/local.png) no-repeat left center;
}
#header .activity .submenu .hot i{
    background: url(../image/menu.png) no-repeat left center;
}
#header .activity .submenu li{
    -webkit-background-size: 9px 4px;
    background-size: 9px 4px;
float:left;
width:25%;
    
}
#header .activity .submenu li.active{
    -webkit-background-size: 9px 4px;
    background-size: 9px 4px;
}
#header .activity .submenu li.active a{
    color: #55abce;
}
#header .activity .submenu .active .city i{
    background: url(../image/local-l.png) no-repeat left center;
}
#header .activity .submenu .active .hot i{
    background: url(../image/menu-l.png) no-repeat left center;
}
.con{font-size: 28px; text-align: center;}

.shadow{
    -webkit-box-shadow: 0px 4px 4px #dddcdc;
    box-shadow: 0px 4px 4px #dddcdc;
}

a.btn, button.btn, input.btn{
    border:1px solid #4390af; border-radius: 6px; background-color: #55abce;
    padding: 10px 0; display: block; margin: 0 10px;
    font-size: 16px; color: #fff; text-align: center;
}

a.btn.active{
	background-color: #3394bb;
}